/* ========== main ========== */
body {
  font-family: "Jetbrains mono", monospace;
  font-weight: 300;
  max-width: 1500px;
  margin: 15px auto;
  background-color: var(--background-color);
  color: var(--font-color);
}

:root {
  /* size */
  --size-h2: 40px;
  --size-back: 10px;
  --size-avt: 350px;
  /* font */
  --font-regular: 18px;
  --font-menu: 14px;
  --font-color: #ffffff;
  --font-color-secondary: #bdbdbd;
  /* colors */
  --primary-color: #3e3e3e;
  --secondary-color: #888888;
  --background-color: #232323;
  /* border */
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
}

a {
  color: var(--font-color-secondary);
  text-decoration: none;
}

/* backhome link */
.back-home {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}

#back-btn {
  width: var(--size-back);
}

form {
  width: 400px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* login form */
.login {
  padding: 10px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;

  background: #333;
  color: white;
}

#username,
#password {
  padding: 10px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  background: #333;
  color: white;
}

.login:hover {
  background: var(--primary-color);
  border-color: var(--primary-color);
}

#submit {
  padding: 10px;
  background: white;
  color: black;
  border: none;
  font-family: var(--font-family);
  border-radius: 5px;
  cursor: pointer;
}
h2 {
  text-align: center;
  font-size: var(--size-h2);
}

/* Tablet */
@media (max-width: 1023px) {
  header {
    grid-template-columns: 1fr;
    gap: 15px;
    height: auto;
    padding: 15px;
    text-align: center;
  }
  .sub-menu,
  .link-info {
    justify-self: center;
  }
  .profile,
  nav {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }
  .profile-info {
    border-left: none;
    border-bottom: 4px solid #bdbdbd;
    padding-left: 0;
    margin-left: 0;
    padding-bottom: 18px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  :root {
    --size-avt: 250px;
    --size-h2: 30px;
  }
  .skills {
    grid-template-columns: 1fr;
  }
  .sub-menu {
    flex-direction: column;
    gap: 10px;
  }
}
